<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <ion-searchbar (ionInput)="onSearchOrders($event)" placeholder="Search by ID" #searchInput></ion-searchbar> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" offset="7">
             <ion-button (click)="onScanQr()">
              by QR: <ion-icon name="qr-scanner"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
     <!-- <ion-button (click)="onEncode()">encode</ion-button> -->
      <ion-card *ngFor="let order of orders | search:searchVal">
        <app-order-item [order]="order" (toOrderId)="getOrderDetails($event)"></app-order-item>
      </ion-card>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
