<ion-header>
  <ion-toolbar>
    <ion-title>
		<ion-button color="medium" shape="round" size="small" router-direction="root" [routerLink]="['/orders-list']">
		    	<ion-icon name="arrow-round-back"></ion-icon> 
		</ion-button>
    	<span>  name</span>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item *ngFor="let product of products">
	  	<ion-grid>  	
		    <ion-row>
		    	<ion-col size="2">
		    		<h3>#{{product.id}}</h3>
		    	</ion-col>
		    	<ion-col size="7" offset="1">
				    <h4>{{product.name}}</h4>		
		    	</ion-col>
		    </ion-row>
		    <ion-row>
		    	<ion-col size="10" offset="1">
		    		<p>{{product.description}}</p>
		    	</ion-col>
		    </ion-row>
		    <ion-row>
		    	<ion-col size="5" offset="6">
				  	<h3>price: {{product.cost}}</h3>
		    	</ion-col>
		    </ion-row>	    
	  	</ion-grid>
	  </ion-item>
	</ion-list>
</ion-content>
