<ion-header>
  <ion-toolbar>
    <ion-title>
    	<ion-grid>
    		<ion-row>
    			<ion-col size="3">
					<ion-button color="medium" shape="round" size="small" router-direction="root" [routerLink]="['/orders-list']">
		    			<ion-icon name="arrow-round-back"></ion-icon> 
					</ion-button>    				
    			</ion-col>
    			<ion-col size="9">
    				<span>Order Info</span>
    			</ion-col>
    		</ion-row>
    	</ion-grid>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item>
	  	<p>
	  		ID: {{currentOrder.order_id}}		
	  	</p>
	  </ion-item>
	  <ion-item>
	  	<h3>Products:</h3>
	  </ion-item>
	  <ion-item *ngFor="let product of products">
	  	<ion-grid>  	
		    <ion-row>
		    	<ion-col size="2">
		    		<h5>#{{product.id}}</h5>
		    	</ion-col>
		    	<ion-col size="7" offset="1">
				    <h5>{{product.name}}</h5>		
		    	</ion-col>
		    </ion-row>
		    <ion-row>
		    	<ion-col size="10" offset="2">
		    		<p>{{product.description}}</p>
		    	</ion-col>
		    </ion-row>
		    <ion-row>
		    	<ion-col size="10">
				  	<h3>price: {{product.cost}}</h3>
		    	</ion-col>
		    </ion-row>	    
	  	</ion-grid>
	  </ion-item>
	</ion-list>
</ion-content>
